.customColorPickerPalette .customColorPickerPalette{
  display:none;
}

.theme-product-details-style-07 .theme-product-detail-container .theme-product-detail-varients-container .theme-rating-review-container{
margin-block-end: 0px !important;
}
#toColorSwatches {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    gap: 10px;
    scroll-snap-type: x mandatory;
    width: 90vw;
    max-width: 100vw;
    white-space: nowrap;
}
/* For WebKit (Chrome, Safari) */
#toColorSwatches::-webkit-scrollbar {
  height: 5px; /* Thin scrollbar */
}

#toColorSwatches::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.colorSwatches {
  flex-shrink: 0;
  width: 80px; /* Set the width of each color swatch */
  height: 80px; /* Set the height of each color swatch */
  border-radius: 5px;
  scroll-snap-align: center;
  transition: transform 0.3s ease, transform-origin 0.3s ease;
}

.colorSwatches.selected {
  transform: scale(1.5);
  z-index: 2; /* Ensure the selected one stays on top */
}

.custom-color-selector {
  border: 2px solid black;
}

.overlay-image {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  /* Make sure it's responsive on smaller screens */
  .colorSwatches {
    width: 60px; /* Reduce size for mobile */
    height: 60px; 
  }

  .colorSwatches.selected {
    transform: scale(1.3); /* Make the center item bigger */
  }
}
.theme-prod-img-container:has(img[alt*="customizable"])::after {
    top: 10% !important;
    left: 5% !important;
    width: 250% !important;
}

.zpcarousel-controller-container{
  display:none !important;
}
